.tdvc-text-hints {
    display: block;
    text-align: center; 

    width: 100%;
    height: fit-content;

    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.8);

    font-size: 1.1rem;
    color: var(--colors-white);

    overflow-y: auto;
    overflow-x: hidden;

    min-height: 40px;
}
