:host, :root, [data-theme] {
    --ring-inset: var(--empty);
   /*!*/
   /*!*/
    --ring-offset-width: 0px;
    --ring-offset-color: #fff;
    --ring-color: rgba(66, 153, 225, 0.6);
    --ring-offset-shadow: 0 0 #000 0;
    --ring-shadow: 0 0 #000 0;
    --space-x-reverse: 0;
    --space-y-reverse: 0;
    --colors-transparent: transparent;
    --colors-current: currentColor;
    --colors-black: #000;
    --colors-white: #fff;
    --colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
    --colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
    --colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
    --colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
    --colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
    --colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
    --colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
    --colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
    --colors-whiteAlpha-800: rgba(255, 255, 255, 0.80);
    --colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
    --colors-blackAlpha-50: rgba(0, 0, 0, 0.04);
    --colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
    --colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
    --colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
    --colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
    --colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
    --colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
    --colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
    --colors-blackAlpha-800: rgba(0, 0, 0, 0.80);
    --colors-blackAlpha-900: rgba(0, 0, 0, 0.92);
    --colors-gray-50: #f7fafc;
    --colors-gray-100: #edf2f7;
    --colors-gray-200: #e2e8f0;
    --colors-gray-300: #cbd5e0;
    --colors-gray-400: #a0aec0;
    --colors-gray-500: #718096;
    --colors-gray-600: #4a5568;
    --colors-gray-700: #2d3748;
    --colors-gray-800: #1a202c;
    --colors-gray-900: #171923;
    --colors-red-50: #fff5f5;
    --colors-red-100: #fed7d7;
    --colors-red-200: #feb2b2;
    --colors-red-300: #fc8181;
    --colors-red-400: #f56565;
    --colors-red-500: #e53e3e;
    --colors-red-600: #c53030;
    --colors-red-700: #9b2c2c;
    --colors-red-800: #822727;
    --colors-red-900: #63171b;
    --colors-orange-50: #fffaf0;
    --colors-orange-100: #feebc8;
    --colors-orange-200: #fbd38d;
    --colors-orange-300: #f6ad55;
    --colors-orange-400: #ed8936;
    --colors-orange-500: #dd6b20;
    --colors-orange-600: #c05621;
    --colors-orange-700: #9c4221;
    --colors-orange-800: #7b341e;
    --colors-orange-900: #652b19;
    --colors-yellow-50: #fffff0;
    --colors-yellow-100: #fefcbf;
    --colors-yellow-200: #faf089;
    --colors-yellow-300: #f6e05e;
    --colors-yellow-400: #ecc94b;
    --colors-yellow-500: #d69e2e;
    --colors-yellow-600: #b7791f;
    --colors-yellow-700: #975a16;
    --colors-yellow-800: #744210;
    --colors-yellow-900: #5f370e;
    --colors-green-50: #f0fff4;
    --colors-green-100: #c6f6d5;
    --colors-green-200: #9ae6b4;
    --colors-green-300: #68d391;
    --colors-green-400: #48bb78;
    --colors-green-500: #38a169;
    --colors-green-600: #2f855a;
    --colors-green-700: #276749;
    --colors-green-800: #22543d;
    --colors-green-900: #1c4532;
    --colors-teal-50: #e6fffa;
    --colors-teal-100: #b2f5ea;
    --colors-teal-200: #81e6d9;
    --colors-teal-300: #4fd1c5;
    --colors-teal-400: #38b2ac;
    --colors-teal-500: #319795;
    --colors-teal-600: #2c7a7b;
    --colors-teal-700: #285e61;
    --colors-teal-800: #234e52;
    --colors-teal-900: #1d4044;
    --colors-blue-50: #ebf8ff;
    --colors-blue-100: #bee3f8;
    --colors-blue-200: #90cdf4;
    --colors-blue-300: #63b3ed;
    --colors-blue-400: #4299e1;
    --colors-blue-500: #3182ce;
    --colors-blue-600: #2b6cb0;
    --colors-blue-700: #2c5282;
    --colors-blue-800: #2a4365;
    --colors-blue-900: #1a365d;
    --colors-cyan-50: #edfdfd;
    --colors-cyan-100: #c4f1f9;
    --colors-cyan-200: #9decf9;
    --colors-cyan-300: #76e4f7;
    --colors-cyan-400: #0bc5ea;
    --colors-cyan-500: #00b5d8;
    --colors-cyan-600: #00a3c4;
    --colors-cyan-700: #0987a0;
    --colors-cyan-800: #086f83;
    --colors-cyan-900: #065666;
    --colors-purple-50: #faf5ff;
    --colors-purple-100: #e9d8fd;
    --colors-purple-200: #d6bcfa;
    --colors-purple-300: #b794f4;
    --colors-purple-400: #9f7aea;
    --colors-purple-500: #805ad5;
    --colors-purple-600: #6b46c1;
    --colors-purple-700: #553c9a;
    --colors-purple-800: #44337a;
    --colors-purple-900: #322659;
    --colors-pink-50: #fff5f7;
    --colors-pink-100: #fed7e2;
    --colors-pink-200: #fbb6ce;
    --colors-pink-300: #f687b3;
    --colors-pink-400: #ed64a6;
    --colors-pink-500: #d53f8c;
    --colors-pink-600: #b83280;
    --colors-pink-700: #97266d;
    --colors-pink-800: #702459;
    --colors-pink-900: #521b41;
    --colors-linkedin-50: #e8f4f9;
    --colors-linkedin-100: #cfedfb;
    --colors-linkedin-200: #9bdaf3;
    --colors-linkedin-300: #68c7ec;
    --colors-linkedin-400: #34b3e4;
    --colors-linkedin-500: #00a0dc;
    --colors-linkedin-600: #008cc9;
    --colors-linkedin-700: #0077b5;
    --colors-linkedin-800: #005e93;
    --colors-linkedin-900: #004471;
    --colors-facebook-50: #e8f4f9;
    --colors-facebook-100: #d9dee9;
    --colors-facebook-200: #b7c2da;
    --colors-facebook-300: #6482c0;
    --colors-facebook-400: #4267b2;
    --colors-facebook-500: #385898;
    --colors-facebook-600: #314e89;
    --colors-facebook-700: #29487d;
    --colors-facebook-800: #223b67;
    --colors-facebook-900: #1e355b;
    --colors-messenger-50: #d0e6ff;
    --colors-messenger-100: #b9daff;
    --colors-messenger-200: #a2cdff;
    --colors-messenger-300: #7ab8ff;
    --colors-messenger-400: #2e90ff;
    --colors-messenger-500: #0078ff;
    --colors-messenger-600: #0063d1;
    --colors-messenger-700: #0052ac;
    --colors-messenger-800: #003c7e;
    --colors-messenger-900: #002c5c;
    --colors-whatsapp-50: #dffeec;
    --colors-whatsapp-100: #b9f5d0;
    --colors-whatsapp-200: #90edb3;
    --colors-whatsapp-300: #65e495;
    --colors-whatsapp-400: #3cdd78;
    --colors-whatsapp-500: #22c35e;
    --colors-whatsapp-600: #179848;
    --colors-whatsapp-700: #0c6c33;
    --colors-whatsapp-800: #01421c;
    --colors-whatsapp-900: #001803;
    --colors-twitter-50: #e5f4fd;
    --colors-twitter-100: #c8e9fb;
    --colors-twitter-200: #a8dcfa;
    --colors-twitter-300: #83cdf7;
    --colors-twitter-400: #57bbf5;
    --colors-twitter-500: #1da1f2;
    --colors-twitter-600: #1a94da;
    --colors-twitter-700: #1681bf;
    --colors-twitter-800: #136b9e;
    --colors-twitter-900: #0d4d71;
    --colors-telegram-50: #e3f2f9;
    --colors-telegram-100: #c5e4f3;
    --colors-telegram-200: #a2d4ec;
    --colors-telegram-300: #7ac1e4;
    --colors-telegram-400: #47a9da;
    --colors-telegram-500: #08c;
    --colors-telegram-600: #007ab8;
    --colors-telegram-700: #006ba1;
    --colors-telegram-800: #005885;
    --colors-telegram-900: #003f5e;
    --borders-none: 0;
    --borders-1px: 1px solid;
    --borders-2px: 2px solid;
    --borders-4px: 4px solid;
    --borders-8px: 8px solid;
    --fonts-heading: Inter, sans-serif;
    --fonts-body: Inter, sans-serif;
    --fonts-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --fontSizes-3xs: 0.45rem;
    --fontSizes-2xs: 0.625rem;
    --fontSizes-xs: 0.75rem;
    --fontSizes-sm: 0.875rem;
    --fontSizes-md: 1rem;
    --fontSizes-lg: 1.125rem;
    --fontSizes-xl: 1.25rem;
    --fontSizes-2xl: 1.5rem;
    --fontSizes-3xl: 1.875rem;
    --fontSizes-4xl: 2.25rem;
    --fontSizes-5xl: 3rem;
    --fontSizes-6xl: 3.75rem;
    --fontSizes-7xl: 4.5rem;
    --fontSizes-8xl: 6rem;
    --fontSizes-9xl: 8rem;
    --fontWeights-hairline: 100;
    --fontWeights-thin: 200;
    --fontWeights-light: 300;
    --fontWeights-normal: 400;
    --fontWeights-medium: 500;
    --fontWeights-semibold: 600;
    --fontWeights-bold: 700;
    --fontWeights-extrabold: 800;
    --fontWeights-black: 900;
    --letterSpacings-tighter: -0.05em;
    --letterSpacings-tight: -0.025em;
    --letterSpacings-normal: 0;
    --letterSpacings-wide: 0.025em;
    --letterSpacings-wider: 0.05em;
    --letterSpacings-widest: 0.1em;
    --lineHeights-3: 0.75rem;
    --lineHeights-4: 1rem;
    --lineHeights-5: 1.25rem;
    --lineHeights-6: 1.5rem;
    --lineHeights-7: 1.75rem;
    --lineHeights-8: 2rem;
    --lineHeights-9: 2.25rem;
    --lineHeights-10: 2.5rem;
    --lineHeights-normal: normal;
    --lineHeights-none: 1;
    --lineHeights-shorter: 1.25;
    --lineHeights-short: 1.375;
    --lineHeights-base: 1.5;
    --lineHeights-tall: 1.625;
    --lineHeights-taller: 2;
    --radii-none: 0;
    --radii-sm: 0.125rem;
    --radii-base: 0.25rem;
    --radii-md: 0.375rem;
    --radii-lg: 0.5rem;
    --radii-xl: 0.75rem;
    --radii-2xl: 1rem;
    --radii-3xl: 1.5rem;
    --radii-full: 9999px;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 1.75rem;
    --space-8: 2rem;
    --space-9: 2.25rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-14: 3.5rem;
    --space-16: 4rem;
    --space-20: 5rem;
    --space-24: 6rem;
    --space-28: 7rem;
    --space-32: 8rem;
    --space-36: 9rem;
    --space-40: 10rem;
    --space-44: 11rem;
    --space-48: 12rem;
    --space-52: 13rem;
    --space-56: 14rem;
    --space-60: 15rem;
    --space-64: 16rem;
    --space-72: 18rem;
    --space-80: 20rem;
    --space-96: 24rem;
    --space-px: 1px;
    --space-0-5: 0.125rem;
    --space-1-5: 0.375rem;
    --space-2-5: 0.625rem;
    --space-3-5: 0.875rem;
    --shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
    --shadows-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    --shadows-none: none;
    --shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;
    --sizes-1: 0.25rem;
    --sizes-2: 0.5rem;
    --sizes-3: 0.75rem;
    --sizes-4: 1rem;
    --sizes-5: 1.25rem;
    --sizes-6: 1.5rem;
    --sizes-7: 1.75rem;
    --sizes-8: 2rem;
    --sizes-9: 2.25rem;
    --sizes-10: 2.5rem;
    --sizes-12: 3rem;
    --sizes-14: 3.5rem;
    --sizes-16: 4rem;
    --sizes-20: 5rem;
    --sizes-24: 6rem;
    --sizes-28: 7rem;
    --sizes-32: 8rem;
    --sizes-36: 9rem;
    --sizes-40: 10rem;
    --sizes-44: 11rem;
    --sizes-48: 12rem;
    --sizes-52: 13rem;
    --sizes-56: 14rem;
    --sizes-60: 15rem;
    --sizes-64: 16rem;
    --sizes-72: 18rem;
    --sizes-80: 20rem;
    --sizes-96: 24rem;
    --sizes-px: 1px;
    --sizes-0-5: 0.125rem;
    --sizes-1-5: 0.375rem;
    --sizes-2-5: 0.625rem;
    --sizes-3-5: 0.875rem;
    --sizes-max: max-content;
    --sizes-min: min-content;
    --sizes-full: 100%;
    --sizes-3xs: 14rem;
    --sizes-2xs: 16rem;
    --sizes-xs: 20rem;
    --sizes-sm: 24rem;
    --sizes-md: 28rem;
    --sizes-lg: 32rem;
    --sizes-xl: 36rem;
    --sizes-2xl: 42rem;
    --sizes-3xl: 48rem;
    --sizes-4xl: 56rem;
    --sizes-5xl: 64rem;
    --sizes-6xl: 72rem;
    --sizes-7xl: 80rem;
    --sizes-8xl: 90rem;
    --sizes-prose: 60ch;
    --sizes-container-sm: 640px;
    --sizes-container-md: 768px;
    --sizes-container-lg: 1024px;
    --sizes-container-xl: 1280px;
    --zIndices-hide: -1;
    --zIndices-auto: auto;
    --zIndices-base: 0;
    --zIndices-docked: 10;
    --zIndices-dropdown: 1000;
    --zIndices-sticky: 1100;
    --zIndices-banner: 1200;
    --zIndices-overlay: 1300;
    --zIndices-modal: 1400;
    --zIndices-popover: 1500;
    --zIndices-skipLink: 1600;
    --zIndices-toast: 1700;
    --zIndices-tooltip: 1800;
    --transition-property-common: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    --transition-property-colors: background-color, border-color, color, fill, stroke;
    --transition-property-dimensions: width, height;
    --transition-property-position: left, right, top, bottom;
    --transition-property-background: background-color, background-image, background-position;
    --transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration-ultra-fast: 50ms;
    --transition-duration-faster: 100ms;
    --transition-duration-fast: 150ms;
    --transition-duration-normal: 200ms;
    --transition-duration-slow: 300ms;
    --transition-duration-slower: 400ms;
    --transition-duration-ultra-slow: 500ms;
    --blur-none: 0;
    --blur-sm: 4px;
    --blur-base: 8px;
    --blur-md: 12px;
    --blur-lg: 16px;
    --blur-xl: 24px;
    --blur-2xl: 40px;
    --blur-3xl: 64px;
    --breakpoints-base: 0em;
    --breakpoints-sm: 30em;
    --breakpoints-md: 48em;
    --breakpoints-lg: 62em;
    --breakpoints-xl: 80em;
    --breakpoints-2xl: 96em;
    --colors-accent: var(--colors-teal-500);
    --colors-accent-emphasis: var(--colors-teal-700);
    --colors-accent-static: var(--colors-teal-500);
    --colors-accent-muted: var(--colors-teal-300);
    --colors-accent-subtle: var(--colors-teal-50);
    --colors-fg: var(--colors-gray-700);
    --colors-fg-emphasis: var(--colors-gray-900);
    --colors-fg-muted: var(--colors-gray-600);
    --colors-fg-subtle: var(--colors-gray-500);
    --colors-fg-on-accent: var(--colors-white);
}
.tdvc-base-content {
    position: relative;
    width: 100%;
    box-sizing: content-box;
    padding: 80px 40px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--colors-gray-200);
    border-radius: var(--radii-md);
    background-color: var(--colors-white);
    min-height: 170px;
}
.tdvc-base-content__background {
    position: absolute;
    z-index: 225;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tdvc-base-content__background__spinner {
    top: 50%;
    margin-top: -21px;
    width: 100%;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.tdvc-base-content__background__spinner__text {
    text-align: center;
}
.tdvc-base-content__background__spinner__circular {
    height: 62px;
    width: 62px;
    -webkit-animation: spinner 1s linear infinite;
    -moz-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
}
.tdvc-base-content__background__spinner__circular__path {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: var(--colors-telegram-600);
    stroke-linecap: round;
}
.tdvc-base-content__background__error {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.tdvc-base-content__background__error__text {
    text-align: center;
}
.tdvc-base-content__background__error__button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: var(--radii-md);
    font-weight: var(--fontWeights-semibold);
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    height: var(--sizes-12);
    min-width: var(--sizes-12);
    font-size: var(--fontSizes-lg);
    padding-inline-start: var(--space-6);
    padding-inline-end: var(--space-6);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--colors-gray-200);
    color: var(--colors-gray-800);
}
.tdvc-base-content__background__error__button:hover {
    background: var(--colors-gray-100);
}
.tdvc-base-content__background__error__button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: var(--shadows-none);
}
.tdvc-base-content__header {
    display: flex;
    justify-content: center;
    padding-bottom: var(--space-8);
}
.tdvc-base-content__header__text {
    font-size: var(--fontSizes-4xl);
    line-height: 1.2;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
}
.tdvc-base-content__body {
    padding-bottom: var(--space-4);
}
.tdvc-base-content__body__error {
    text-align: center;
}
.tdvc-base-content__footer {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.tdvc-base-content__footer button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: var(--radii-md);
    font-weight: var(--fontWeights-semibold);
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    height: var(--sizes-12);
    min-width: var(--sizes-12);
    font-size: var(--fontSizes-lg);
    padding-inline-start: var(--space-6);
    padding-inline-end: var(--space-6);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--colors-gray-200);
    color: var(--colors-gray-800);
}
.tdvc-base-content__footer button:hover {
    background: var(--colors-gray-100);
}
.tdvc-base-content__footer button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: var(--shadows-none);
}
.tdvc-login-form {
    width: 100%;
}
.tdvc-login-form__footer {
    padding-top: var(--space-6);
    display: flex;
    justify-content: center;
}
.tdvc-login-form__footer__button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: var(--radii-md);
    font-weight: var(--fontWeights-semibold);
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    height: var(--sizes-12);
    min-width: var(--sizes-12);
    font-size: var(--fontSizes-lg);
    padding-inline-start: var(--space-6);
    padding-inline-end: var(--space-6);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--colors-gray-200);
    color: var(--colors-gray-800);
}
.tdvc-login-form__footer__button:hover {
    background: var(--colors-gray-100);
}
.tdvc-login-form__footer__button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: var(--shadows-none);
}
.tdvc-login-content__group {
    width: 100%;
    position: relative;
}
.tdvc-login-content__group__label {
    display: block;
    text-align: start;
    font-size: var(--fontSizes-md);
    margin-inline-end: var(--space-3);
    margin-bottom: var(--space-2);
    font-weight: var(--fontWeights-medium);
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    opacity: 1;
}
.tdvc-login-content__group__input__group {
    width: 100%;
    display: flex;
    position: relative;
    isolation: isolate;
    --input-font-size: var(--fontSizes-md);
    --input-padding: var(--space-4);
    --input-border-radius: var(--radii-md);
    --input-height: var(--sizes-10);
}
.tdvc-login-content__group__input__group__icon {
    left: 0px;
    width: var(--sizes-12);
    height: var(--sizes-12);
    font-size: var(--fontSizes-lg);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    z-index: 2;
    pointer-events: none;
}
.tdvc-login-content__group__input__group__icon__svg {
    width: var(--sizes-6);
    height: var(--sizes-6);
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    opacity: 0.48;
}
.tdvc-login-content__group__input__group__input {
    width: 100%;
    min-width: 0px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    font-size: var(--fontSizes-lg);
    padding-inline-start: var(--space-4);
    padding-inline-end: var(--space-4);
    height: var(--sizes-12);
    border-radius: var(--radii-md);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: inherit;
    background: inherit;
}
.tdvc-login-content__group__input__group__input[aria-invalid="true"] {
    border-color: #e53e3e;
    box-shadow: #e53e3e 0px 0px 0px 1px;
}
.tdvc-login-content__group__error {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: var(--colors-red-500);
    margin-top: var(--space-2);
    font-size: var(--fontSizes-sm);
    line-height: var(--lineHeights-normal);
    height: 18px;
}
.button__spinner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-inline-end: 0.5rem;
    font-size: 1em;
    line-height: var(--lineHeights-normal);
}
.button__spinner__animation {
    display: inline-block;
    border-top: 2px solid currentcolor;
    border-right: 2px solid currentcolor;
    border-bottom-style: solid;
    border-left-style: solid;
    border-radius: 99999px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-bottom-color: var(--colors-transparent);
    border-left-color: var(--colors-transparent);
    animation: 0.45s linear 0s infinite normal none running spinner;
    --spinner-size: var(--sizes-6);
    color: currentcolor;
    width: 1em;
    height: 1em;
}
.button__spinner__animation__text {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}
.tdvc-register__header {
    padding-bottom: 16px;
}
.tdvc-register__header__description {
    text-align: center;
}
.tdvc-register__body__select__wrapper {
    width: 100%;
    height: fit-content;
    position: relative;
}
.tdvc-register__body__select__wrapper__select {
    padding-inline-end: var(--space-8);
    width: 100%;
    height: var(--input-height);
    font-size: var(--input-font-size);
    padding-inline-start: var(--input-padding);
    border-radius: var(--input-border-radius);
    min-width: 0px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    padding-bottom: 1px;
    line-height: var(--lineHeights-normal);
    background: inherit;
    --select-bg: var(--colors-white);
    --input-font-size: var(--fontSizes-md);
    --input-padding: var(--space-4);
    --input-border-radius: var(--radii-md);
    --input-height: var(--sizes-10);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: inherit;
}
.tdvc-register__body__select__wrapper__select__option {
    background: var(--select-bg);
}
.tdvc-register__body__select__wrapper__icon-wrapper {
    width: var(--sizes-6);
    height: 100%;
    right: var(--space-2);
    color: currentcolor;
    font-size: var(--fontSizes-xl);
    position: absolute;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
}
.tdvc-register__body__content {
    padding-top: 60%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.tdvc-register__body__content__video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s;
    overflow: hidden;
}
.tdvc-register__body__content__video__position {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    --clean-rx: 100%;
    --clean-x: calc(100% / 2 - var(--clean-width) / 2);
    --clean-y: calc(100% / 2 - var(--clean-height) / 2);
}
.tdvc-register__body__content__video__position__mask {
    position: absolute;
    align-content: center;
    justify-content: center;
    z-index: 220;
    display: flex;
    width: 100%;
    height: 100%;
}
.tdvc-register__body__content__video__position__mask__overlay {
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    z-index: 1;
}
.tdvc-register__body__content__video__position__mask__overlay__dark {
    height: 100vmax;
    x: 0;
    y: 0;
    fill: #fff;
}
.tdvc-register__body__content__video__position__mask__overlay__clean {
    width: var(--clean-width);
    height: var(--clean-height);
    x: var(--clean-x);
    y: var(--clean-y);
    rx: var(--clean-rx);
    fill: #000;
}
.tdvc-register__body__content__video__position__mask__overlay__stroke {
    width: var(--clean-width);
    height: var(--clean-height);
    x: var(--clean-x);
    y: var(--clean-y);
    rx: var(--clean-rx);
    stroke-width: 3;
    stroke-opacity: 1;
    fill: none;
}
.tdvc-register__body__content__video__position__mask__overlay__stroke--white {
    stroke: var(--colors-white);
}
.tdvc-register__body__content__video__position__mask__overlay__stroke--success {
    stroke: var(--color-positive-light);
    stroke-width: 5;
}
.tdvc-register__body__content__video__position__mask__overlay__mask {
    fill: #000;
    fill-opacity: 0.4;
    mix-blend-mode: color;
}
.tdvc-register__body__content__video__position__mask__slow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    width: 100%;
    top: 0;
    font-weight: 500;
    z-index: 280;
}
.tdvc-register__body__content__video__position__mask__slow__text {
    display: block;
    font-size: 1.1rem;
    text-align: center;
    color: var(--colors-white);
    margin: 0 10px;
}
.tdvc-register__body__content__video__position__mask__hint {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 40px;
    font-weight: 500;
}
.tdvc-register__body__content__video__position__container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}
.tdvc-register__body__content__video__position__container__contour {
    border: dashed 2px #fff;
    border-radius: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tdvc-register__body__content__video__position__container__canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%) scale(-1, 1);
    z-index: 300;
}
.tdvc-register__body__content__video__position__container__video {
    transform: scale(-1, 1);
    object-fit: cover;
    width: 100%;
    pointer-events: none;
    z-index: 250;
}
.tdvc-register__body__content__video__position__container__keypoints {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 251;
}
.tdvc-register__footer {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tdvc-register__footer button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: var(--radii-md);
    font-weight: var(--fontWeights-semibold);
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    height: var(--sizes-12);
    min-width: var(--sizes-12);
    font-size: var(--fontSizes-lg);
    padding-inline-start: var(--space-6);
    padding-inline-end: var(--space-6);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--colors-gray-200);
    color: var(--colors-gray-800);
}
.tdvc-register__footer button:hover {
    background: var(--colors-gray-100);
}
.tdvc-register__footer button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: var(--shadows-none);
}
.tdvc-authorization__header {
    padding-bottom: 16px;
}
.tdvc-authorization__header__description {
    text-align: center;
}
.tdvc-authorization__body__select__wrapper {
    width: 100%;
    height: fit-content;
    position: relative;
}
.tdvc-authorization__body__select__wrapper__select {
    padding-inline-end: var(--space-8);
    width: 100%;
    height: var(--input-height);
    font-size: var(--input-font-size);
    padding-inline-start: var(--input-padding);
    border-radius: var(--input-border-radius);
    min-width: 0px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    padding-bottom: 1px;
    line-height: var(--lineHeights-normal);
    background: inherit;
    --select-bg: var(--colors-white);
    --input-font-size: var(--fontSizes-md);
    --input-padding: var(--space-4);
    --input-border-radius: var(--radii-md);
    --input-height: var(--sizes-10);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: inherit;
}
.tdvc-authorization__body__select__wrapper__select__option {
    background: var(--select-bg);
}
.tdvc-authorization__body__select__wrapper__icon-wrapper {
    width: var(--sizes-6);
    height: 100%;
    right: var(--space-2);
    color: currentcolor;
    font-size: var(--fontSizes-xl);
    position: absolute;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
}
.tdvc-authorization__body__content {
    padding-top: 60%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.tdvc-authorization__body__content__video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s;
    overflow: hidden;
}
.tdvc-authorization__body__content__video__position {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    --clean-rx: 100%;
    --clean-x: calc(100% / 2 - var(--clean-width) / 2);
    --clean-y: calc(100% / 2 - var(--clean-height) / 2);
}
.tdvc-authorization__body__content__video__position__mask {
    position: absolute;
    align-content: center;
    justify-content: center;
    z-index: 220;
    display: flex;
    width: 100%;
    height: 100%;
}
.tdvc-authorization__body__content__video__position__mask__overlay {
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    z-index: 1;
}
.tdvc-authorization__body__content__video__position__mask__overlay__dark {
    height: 100vmax;
    x: 0;
    y: 0;
    fill: #fff;
}
.tdvc-authorization__body__content__video__position__mask__overlay__clean {
    width: var(--clean-width);
    height: var(--clean-height);
    x: var(--clean-x);
    y: var(--clean-y);
    rx: var(--clean-rx);
    fill: #000;
}
.tdvc-authorization__body__content__video__position__mask__overlay__stroke {
    width: var(--clean-width);
    height: var(--clean-height);
    x: var(--clean-x);
    y: var(--clean-y);
    rx: var(--clean-rx);
    stroke-width: 3;
    stroke-opacity: 1;
    fill: none;
}
.tdvc-authorization__body__content__video__position__mask__overlay__stroke--white {
    stroke: var(--colors-white);
}
.tdvc-authorization__body__content__video__position__mask__overlay__stroke--success {
    stroke: var(--color-positive-light);
    stroke-width: 5;
}
.tdvc-authorization__body__content__video__position__mask__overlay__mask {
    fill: #000;
    fill-opacity: 0.4;
    mix-blend-mode: color;
}
.tdvc-authorization__body__content__video__position__mask__slow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    width: 100%;
    top: 0;
    font-weight: 500;
    z-index: 280;
}
.tdvc-authorization__body__content__video__position__mask__slow__text {
    display: block;
    font-size: 1.1rem;
    text-align: center;
    color: var(--colors-white);
    margin: 0 10px;
}
.tdvc-authorization__body__content__video__position__mask__hint {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 40px;
    font-weight: 500;
}
.tdvc-authorization__body__content__video__position__container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}
.tdvc-authorization__body__content__video__position__container__contour {
    border: dashed 2px #fff;
    border-radius: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tdvc-authorization__body__content__video__position__container__canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%) scale(-1, 1);
    z-index: 300;
}
.tdvc-authorization__body__content__video__position__container__video {
    transform: scale(-1, 1);
    object-fit: cover;
    width: 100%;
    pointer-events: none;
    z-index: 250;
}
.tdvc-authorization__body__content__video__position__container__keypoints {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 251;
}
.tdvc-authorization__footer {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tdvc-authorization__footer button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: var(--radii-md);
    font-weight: var(--fontWeights-semibold);
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    height: var(--sizes-12);
    min-width: var(--sizes-12);
    font-size: var(--fontSizes-lg);
    padding-inline-start: var(--space-6);
    padding-inline-end: var(--space-6);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--colors-gray-200);
    color: var(--colors-gray-800);
}
.tdvc-authorization__footer button:hover {
    background: var(--colors-gray-100);
}
.tdvc-authorization__footer button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: var(--shadows-none);
}
#VC-temp-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 252;
}
.tdvc__body__content__video__position__mask__hint__progress {
    height: 3px;
    position: absolute;
    top: 0;
    background-color: var(--colors-green-800);
    z-index: 1;
}
.tdvc__body__content__video__position__mask__hint__progress__pattern {
    height: 3px;
    position: absolute;
    top: 0;
    background-color: var(--colors-green-400);
}
.video-hold-text {
    display: block;
    font-size: 1.1rem;
    text-align: center;
    color: var(--colors-white);
    margin: 0 10px;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
.lr_overlay_canvas_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 9999;
}
.lr_overlay_canvas_video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(-1, 1);
    z-index: 9998;
}
.lr_overlay_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.disable {
    display: none;
}
.safari_error__container {
    text-align: center;
}
.normal_size {
    --clean-width: calc(60% * 0.63);
    --clean-height: calc(90% * 0.9);
}
.small_size {
    --clean-width: calc(45% * 0.63);
    --clean-height: calc(70% * 0.9);
}
.big_size {
    --clean-width: calc(70% * 0.63);
    --clean-height: calc(100% * 0.9);
}
.normal_size.fhd {
    --clean-width: calc(30% * 0.63);
    --clean-height: calc(45% * 0.9);
}
.small_size.fhd {
    --clean-width: calc(20% * 0.63);
    --clean-height: calc(30% * 0.9);
}
.big_size.fhd {
    --clean-width: calc(35% * 0.63);
    --clean-height: calc(53% * 0.9);
}
@media (max-width: 480px) {
    .tdvc-register__body__content {
        padding-top: 177.7%;
   }
    .tdvc-authorization__body__content {
        padding-top: 177.7%;
   }
    .normal_size {
        --clean-width: calc(120% * 0.63);
        --clean-height: calc(60% * 0.9);
   }
    .small_size {
        --clean-width: calc(100% * 0.63);
        --clean-height: calc(50% * 0.9);
   }
    .big_size {
        --clean-width: calc(140% * 0.63);
        --clean-height: calc(70% * 0.9);
   }
}
@media only screen and (orientation: landscape) {
    #is_mobile body {
        display: none;
   }
    #is_mobile:before {
        content: 'Rotate your device to portrait mode or open this page on a desktop computer.';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        z-index: 999;
        text-align: center;
        width: 80%;
        height: 100px;
   }
}
