.idea
.venv
.gitlab
../.gitlab-ci.yml
../docker-compose.yml
.git
.gitignore
.mypy_cache
**/__pycache__
*.env
*.sql
*.dump
*.md
*.log
*.pyc
venv
package.json
package-lock.json
node_modules
setup
README.md
coturn.conf