[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.12"
uvicorn = {extras = ["standard"], version = "==0.33.0"}
pyee = "==13.0.0"
python-dotenv = "==1.0.1"
sqlalchemy = "==2.0.40"
alembic = "==1.15.2"
psycopg2-binary = "==2.9.10"
miniopy-async = "==1.21.1"
numpy = "==2.2.4"
requests = "2.33.0"
python-multipart = "==0.0.20"
aiohttp = "==3.10.11"
jsonschema = "==4.22.0"
opencv-python-headless = "==4.11.0.86"
av = "==14.2.0"
pillow = "==11.2.1"
pymediainfo = "==7.0.1"
gunicorn = "==23.0.0"
uvicorn-worker = "0.3.0"
aiozipstream = "0.4"
pytest = "8.4.2"
pytest-asyncio = "1.2.0"
cron-converter = "1.2.2"
redis = ">=7.4.0"
pyjwt = "==2.13.0"
cryptography = "==49.0.0"

[dev-packages]

[requires]
python_version = "3.13.3"
python_full_version = "3.13.3"
